*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  height: 100%;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  max-width: 1140px;
  height: 534px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result__video-container {
  max-width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  inset: 0;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  max-width: 711px;
  height: 54px;
}

.search-form__fieldset {
  max-width: 225px;
  height: 54px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__label {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

label:has(:focus-visible) {
  outline: 1px solid #fff;
}

label:not(.search-form__label-nounder):hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label-text {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  color: #ffffffb2;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  appearance: none;
  border-bottom: 1px solid #fff;
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border-left: none;
  border-right: none;
}

.search-form__checkbox-list {
  display: flex;
  align-content: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

input[type="checkbox"]:checked + span{
  width: 15px;
  height: 15px;
  background: #fff;
}

input[type="checkbox"]:focus-visible + span {
  outline: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__list {
  position: relative;
  overflow: auto;
  max-width: 399px;
  height: 298px;
}

.content__list-item {
  width: 100%;
  object-fit: cover;
  object-position: center;
  inset: 0;
}
li:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link {
  text-decoration: none;
  display: block;
  color: #fff;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:active {
  text-decoration-line: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card {
  display: flex;
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  max-width: 399px;
  height: 534px;
}

h1.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.search-form__submit-button {
  cursor: pointer;
  display: flex;
  min-width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
}

.more-button {
  cursor: pointer;
  display: flex;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
}
